storePassword=12345qwe
keyAlias=qrstudio
keyPassword=12345qwe
Name=Cypher Shadowbourn
Shadowbourne
Shadowbourne
City=Fethard
Country code:IE

PS C:\Users\pbess\Desktop\qr-studio-ultra-main> keytool -genkeypair -v -keystore my-release-key.jks -alias my-key-alias -keyalg RSA -keysize 2048 -validity 10000
Enter keystore password:

Re-enter new password:

What is your first and last name?
  [Unknown]:  Cypher Shadowbourne
What is the name of your organizational unit?
  [Unknown]:  Shadowbourne
What is the name of your organization?
  [Unknown]:  Shadowbourne
What is the name of your City or Locality?
  [Unknown]:  Fethard
What is the name of your State or Province?
  [Unknown]:  Tipperary
What is the two-letter country code for this unit?
  [Unknown]:  IE
Is CN=Cypher Shadowbourne, OU=Shadowbourne, O=Shadowbourne, L=Fethard, ST=Tipperary, C=IE correct?
  [no]:  yes

Generating 2,048 bit RSA key pair and self-signed certificate (SHA256withRSA) with a validity of 10,000 days
        for: CN=Cypher Shadowbourne, OU=Shadowbourne, O=Shadowbourne, L=Fethard, ST=Tipperary, C=IE
[Storing my-release-key.jks]
PS C:\Users\pbess\Desktop\qr-studio-ultra-main>
